@model PlacementCell.Models.LoginModelForClass

@{
    ViewBag.Title = "ForgotPassword";
}


<link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">

<link href="~/Content/grid.css" rel="stylesheet" />
<link href="~/Content/ionicons.min.css" rel="stylesheet" />
<link href="~/Content/CreationFile.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Content/Main.css" rel="stylesheet" />


<div class="row">
    <h2>Forgot Password</h2>
    <h4>Your Password will be sent on the registered Email </h4>
</div>
<form method="post">
    <div class="row">
        @Html.TextBoxFor(model => model.UserName, new { @class = "my-email" })<br />

        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        <div class="login-failed">
            <p style="margin-left:15px">@ViewBag.Message</p>
        </div>
    </div>

    <div class="row">
        <input type="submit" value="Get Password" style="margin-top:20px;padding:10px 20px">
    </div>
</form>

<script type="text/javascript">

    $("#UserName").attr("placeholder", "Enter Email to Send Password");
</script>
